footer {
    background-color: white;
    height: 60px;
    width: 100%;
    border-top: 1px #CCCCCC solid;
    text-align: center;
    bottom: 0px;
    position: absolute;
}

div.foot {
    margin-top: 20px;
}
